/* ----------------------------------------------------
CSS for  "Ahmed Lotfey Portfolio"

1. css reset

*/

* {
    padding: 0;
    margin: 0;
}
body {
    color: #fff;
    font-family: 'open Sans', sans-serif ;
    font-weight: 300;
}
a {
    text-decoration: none;
    color: #fff;
    outline: none;
}

/* Navbar */
.topnav {
    background-color: #262B37;
    overflow: hidden;
    text-transform: uppercase;
    z-index: 1200;
    position: fixed;
    width: 100%;

}
.topnav a {
    float: left;
    display: block;
    color: #C3C8D6;
    text-align: center;
    padding: 14px 16px;
    font-size: 25px;
}
.topnav a:hover {
    background-color: #1B1F29;
    color: #fff;
}
.topnav a.active {
    background-color: #1B1F29;
    color: #fff;
}
.topnav .icon {
    display: none;
}
@media screen and (max-width: 1300px) {
    .work-img {
        display: flex;
        flex-flow: column;
        justify-content: center;
    }
    .work-img img {
        width: auto;
    }
}

@media screen and (max-width: 675px) {

    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }


  }

  @media screen and (max-width: 675px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
  

 .banner {
     position: relative;
 }
 .banner img {
     display: flex;
     width: 100%;
     max-height: 750px;
 }
 .banner>.caption {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    background: rgb(23, 22, 22);
    opacity: 0.6;
  }
  .banner>.caption:hover {
      opacity: 0.8;
  }
  
 .banner>.caption>h1, .banner>.caption>h2 , .banner>.caption>p {
     text-align: center;
     padding-top: 20px;
 }
 .banner>.caption>h1 {
    font-size: 50px;
    padding-top: 125px;
  }
  
  .banner>.caption>h2 {
    font-size: 4vw;
  }
  .banner>.caption>p {
    font-size: 1.5vw;
    padding: 20px;
    width: 90%;
    
  } 
  .skills {
      text-align: center;
      font-size: 2vw;
      padding-top: 10px;
  }
   .title {
    color: #FF675F;
    font-weight: 300;
    text-transform: uppercase;
    width: 100%;
    padding: 10px;
    text-align: center;
   } 
   .pwork, .education{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #eee;
    color: #474d5d;
   }
   .pwork{
       background-image: url(/assets/img/work-bg.jpg);
       background-size: cover;
   }
 
   .pwork p {
       text-align: center;
       padding: 10px;
   }
 
   .work {
       display: flex;
       flex-wrap: wrap;
       justify-content: space-around;
   }
   .item-title {
       color: #000;
       text-align: center;
       text-transform: uppercase;
       z-index: 1200;
   }
   .workflex:hover {
       background-color: #FFF;
       opacity: 0.9;
   }
 
   .experience {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #fff;
    color: #000;
   }
 .profile-exp {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
 }
 .profile-img {
    padding-right: 20px;
 }
 .exp-text {
     width: 20%;

 }
 .seperation {
     border: 1px solid #262B37;
 }
  /* footer  */
  footer {
      display: flex;
      justify-content: center;
      padding: 30px;
      background-color: #262B37;
      flex-wrap: wrap;
  }
  .social {
      margin: 2vw;
  }
